@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner {
    background-image: url('./images/man.jpg.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.logo {
    color: #FEA116 !important;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
}

.navbar button {
    color: #FEA116 !important;
    border-color: #FEA116;
}

.navbar button:hover {
    background-color: #FEA116;
    border-color: #FEA116;
    color: white !important;
}

.hero-text {
    color: white;
    position: absolute;
    z-index: 9;
    margin-top: 8vw;
    text-align: center;
}

.hero-text h1 {
    font-family: "Nunito", sans-serif;
    font-size: 64px;
    font-weight: 800;
}

.hero-text p {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.hero-text button {
    background-color: #FEA116;
    border: none;
    font-size: 20px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 20px;

}



@media screen and (max-width:800px) {

    body,
    html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    .hero-text {
        margin-top: 3vh;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 10vh;
    }

    .row {
        margin-top: 8vh;
    }
}

@media screen and (max-width: 500px) {
    .hero-text p {
        display: none;
    }

    .logo {
        font-size: 25px;
    }

    .row {
        margin-top: 18vh;
    }
    .header{
        margin-top: 20vh;
        line-height: 10vh;
    }

}